.header {
    padding: 30px 0 25px;
}
.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    display: flex;
    gap: 40px;
    text-transform: uppercase;
    font-size: 22px;
    
}
.header__menu a:hover{
    transition: color .5s ease-in-out;
}
.header__menu a:hover{
    color: #640AA3;
}
.header__btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    background: transparent;
    padding: 12px 32px 13px 32px;
    border: solid 3px #CD06FF;
    border-radius: 10px;

    transition: border .5s ease-in-out, background-color 1s ease-in-out;

}
.header__btn:hover, .header__btn:focus {
    border: 3px solid #6C0287;
    background-color:  #6C0287;;
}
.header__btn:active {
    border: 3px solid #640AA3;
    background-color:  #640AA3;
}
